<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <p><%= points %></p>
    <h3><%= videodata.categoryName %></h3>
    
    <ul>
    	<% videodata.categories.forEach(function(item){ %>
    		<li><%= item.categoryName %></li>
    	<% }); %>
    </ul>
    
  </body>
</html>